/* NotoSansTC-VariableFont_wght */
@font-face {
  font-family: "Noto Sans TC";
  src: url("../assets/fonts/NotoSansTC-VariableFont_wght.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}
