@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300 700;
  font-display: block;
  src: url(../assets/fonts/Comfortaa-VariableFont_wght.ttf) format("truetype");
}

/* timemachine-wa */
@font-face {
  font-family: "timemachine-wa";
  src: url("../assets/fonts/timemachine-wa.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* jf-openhuninn-2.1.ttf */
@font-face {
  font-family: "jf openhuninn";
  src: url("../assets/fonts/jf-openhuninn-2.1.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

/* NotoSansTC-VariableFont_wght */
@font-face {
  font-family: "Noto Sans TC";
  src: url("../assets/fonts/NotoSansTC-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: unset;
}
