@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300 700;
  font-display: block;
  src: url("../../assets/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
}

/* timemachine-wa */
@font-face {
  font-family: "timemachine-wa";
  src: url("../../assets/fonts/timemachine-wa.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* jf-openhuninn-2.1.ttf */
@font-face {
  font-family: "jf openhuninn";
  src: url("../../assets/fonts/jf-openhuninn-2.1.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

/* CascadiaCode */
@font-face {
  font-family: "CascadiaCode";
  src: url("../../assets/fonts/CascadiaCode-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

* {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
  transition: background-color 0.2s ease-in-out;
}

body {
  overflow: hidden;
}

#root {
  max-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

.noise {
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  mask-mode: luminance;
  mask-repeat: repeat;
  mask-size: 400px;
}

a {
  text-decoration: none;
  color: unset;
}
